.unified-profile-page{
    display: flex;
    flex-direction: column;
    text-align: center;
     margin-bottom: 3rem;
}

.profile-info{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}