
/* Container */
.card-container{
    margin: 4rem;
}

/* Admin remove plant card */
.card{
    background-color: rgb(244, 235, 235);
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    flex-direction: row;
    margin: 10px;
}

/* Button box */
.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}

/* Button hover */
.buttons button:hover{
    background-color: #227a5a;
}

/* The button */
.buttons button{
    background-color: #1E3F2F;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 80px;

}

/* CSS for popup photos

The background presenting */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Box that contains the images */
.popup-content {
  background-color: #a0a0a0; 
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

/* Text in pop up window */
.popup-content h3{
    text-align: center;
}

/* Popup photo container */
.popup-photos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* wrap if screen is small*/
  justify-content: center;
}

/* For the images */
.popup-photos img {
  max-width: 55%;
  max-height: 45rem;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
}
