.card-container{
    margin: 4rem;
}
.card{
    background-color: rgb(244, 235, 235);
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    flex-direction: row;
    margin: 10px;
}

.buttons{
    
    display: flex;
    flex-direction: column;
    
}

.buttons button:hover{
    background-color: rgb(202, 201, 198);
}

.buttons button{
    background-color: rgb(239, 239, 240);
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 80px;

}

/* Modal overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content h3{
    text-align: center;
}


/* Modal content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

/* Container för båda bilderna */
.popup-photos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
}


.popup-photos img {
  max-width: 55%;
  max-height: 45rem;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
}
