/* Card container */
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid rgb(41, 38, 38);
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #111827; /* dark text color */
  margin-top: 16px;
}

.card {
  display: flex;
  width: 700px;
  gap: 20px;
  background: #cac2bd; /* background on the cards */
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-left {
  width: 160px;
  text-align: center;
}

.plant-photo {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #9ca3af; /* visible frame */
  background-color: #a4b0ae; /* light background for placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #6b7280; /* gray text for "Photo" */
  font-weight: bold;
}

.plant-name {
  margin-top: 8px;
  font-weight: bold;
}

.card-right {
  flex: 1;
}

.more-info-btn {
  padding: 8px 20px; /* button size */
  background-color: #4d6a7c; /* button color */
  color: white; /* text color */
  border: 2 solid black;
  border-radius: 10px;
  cursor: pointer; /* pointer on hover */
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.more-info-btn:hover {
  background-color: #30534f; /* darker on hover */
}

/* Remove Report Button */
.report-remove-btn {
 /*  background-color: white; */
 background-color:#1e3f2f ;           
  /* border: 1px solid #1b6b57; */
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 8px;
  align-self: flex-end;      /* Right cornor for button */
  height: 30px;
  color: white;

}

.report-remove-btn:hover {
  /* background-color: #e8f4f1; */
  background-color: #227a5a;
}