
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  background: rgb(155, 139, 139);
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  max-width: 900px;
  margin: 0 auto;     /* centers the container horizontally */
  box-sizing: border-box;
}

.notification-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.notification-message {
  font-size: 1rem;
  color: #333;
}

.notification-time {
  font-size: 0.8rem;
  color: #666;
  margin-top: 6px;
  text-align: right;
}

.mark-read-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #61758b; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mark-read-btn:hover {
  background-color: #788a9d;
}


