/* Card container */

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid rgb(41, 38, 38);
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #111827; /* dark text color */
  margin-top: 16px;
}

.card {
  display: flex;
  width: 700px;
  gap: 20px;
  background: #cac2bd; /* background on the cards */
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-left {
  width: 160px;
  text-align: center;
}

.plant-photo {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #9ca3af; /* visible frame */
  background-color: #a4b0ae; /* light background for placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #6b7280; /* gray text for "Photo" */
  font-weight: bold;
}

.plant-name {
  margin-top: 8px;
  font-weight: bold;
}

.card-right {
  flex: 1;
}

.more-info-btn{
  margin-right: 10px;   /* space to the right */
  margin-top: 20px;
}

.more-info-btn,
.report-btn {
  padding: 8px 20px; /* button size */
  /* background-color: #4d6a7c; */ /* button color */
  background-color: #1E3F2F !important;
  color: white; /* text color */
  border: 2 solid black;
  border-radius: 10px;
  cursor: pointer; /* pointer on hover */
  font-weight: bold;
  transition: background-color 0.2s ease;
  width: 9rem;
}

.more-info-btn:hover,
.report-btn:hover {
  /* background-color: #30534f; */ /* darker on hover */
  background-color: #227a5a !important ;
  
}


.report-btn.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.4;
}

.report-btn.disabled:hover {
    background-color: #cccccc;
}