.register-user{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* 
.register-box{
    background-color: beige;
    display: flex;
    justify-content: center;
    width: 60%;
}  */


.register-form{

    align-items: center;
    background-color: #fff8f4;
    border: 1px solid #e8d8cc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    width: 40%;
    
}

.register-form input{
    border: 1px solid #e8d8cc;
    border-radius: 8px;
    color: #5a423a;
    font-size: 1rem;
    height:3rem;
    width: 70%;
}

.register-form input:focus{
    outline: none;
}

.register-btn{
    background-color: #d6b7a7;
  transform: translateY(-2px);
    
}
.error {
    color:#d54444
}