.report-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
body {
    min-width: 320px;
    height: auto;
}

.report-form {
    !*max-width: 500px;*!
    max-width: 31rem;
    !*min-width: 300px;*!
    margin: 1.5rem auto;
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.report-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
   margin: 0.75rem;
}

.field label {
    font-weight: bold;
    margin-bottom: 4px;
}

.field input {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.report-btn {
    background-color: #4d6a7c;;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.report-btn:hover {
    background-color: #2c5282;
}

.error {
    color: red;
    font-weight: 500;
    padding-top: 0.6rem;
}

.success {
    color: green;
    font-weight: 500;
}

!* ================================================
   MOBILE RESPONSIVENESS (<768PX)
   ================================================ *!
@media (max-width: 768px) {
    .report-form {
        width: 100%;          !* Take full screen *!
        margin: 0;
        min-width: 20%;
        border-radius: 0;
        padding: 1.5rem;
        font-size: 1rem;
    }

    .input {
        padding: 2rem;
    }

    .report-btn,
    .report-btn,
    .error {
        width: 100%;         !* Full width on mobile *!
    }
}*/
