.report-form {
    max-width: 500px;
    margin: 2rem auto;
    background: #f7f7f7;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.report-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: bold;
    margin-bottom: 4px;
}

.field input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.report-btn {
    background-color: #4d6a7c;;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.report-btn:hover {
    background-color: #2c5282;
}

.error {
    color: red;
    font-weight: 500;
}

.success {
    color: green;
    font-weight: 500;
}
