.reward-form {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px !important;
}

.reward-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

h3{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-card.affordable {
  background-color: #edd6d6;
}

.reward-card.not-affordable {
  opacity: 0.6;
  pointer-events: none; /* disables clicking if not affordable */
}

.reward-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

